.card{

    background-color: aliceblue;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow:4px 4px 12px #aaaa;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: 50%;

}
.card h1{
    font-size: 1.2rem;

}
.card h2{
    font-size: .9rem;
    color: #aaaa;

}

.card button{
    background-color: cornflowerblue;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
}