/* Tema claro */
:root{
    --bg:#fafafa;
    --texto: #111;
    --borda: #bdbdbd;
    --caixa: #d2d7dbe8;
    --logintxt: #fff;
    --acao: #51abe7;
    --box: #fff;
    --spantxt: #bbb;
    --footertxt: #8e8e8e;
    --senha:#373799;
    --inputbg: #fafafa;

}
/* Tema escuro */
[data-tema="escuro"]{
    --bg:#1a3242;
    --texto: #e5e7eb;
    --borda: #1f2937;
    --caixa: #111827;
    --acao: #38bdf8;
    --box: #24475e;
    --spantxt: #d4d6db;
    --footertxt: #e5e7eb;
    --senha:#d1d1eb;
    --inputbg: #111827;
}
/* Estilos padrão */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: var(--bg);
}

/* Containers */

#main-container{
    display: flex;
    margin-top: 30px;
}

#banner-container,
.form-container{
    flex: 1 1 0;
    width: 50%;
}


#banner-container{
    text-align: right;
}

#banner-container img{
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 380px;
}

.form-container{
    text-align: center;
}

/* Login forms */

.form-box {
    background-color: var(--bg);
    border: 1px solid var(--borda);
    width: 350px;
    margin-top: 30px;
}

#logo-insta{
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
}

#login-form{
    margin-top: 20px;
}

#login-form input{
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: var(--inputbg);
    border: 1px solid var(--borda);
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#login-form input[type="submit"]{
    background-color: var(--acao);
    color: var(--logintxt);
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
}

/* separador */

.separator{
    position: relative;
}

.line{
    border-top: 1px solid var(--borda);
    width: 268px;
    margin: 25px auto 35px;
}

.separator span {
    position: absolute;
    text-transform: uppercase;
    color: var(--spantxt);
    background-color: var(--bg);
    top: -6px;
   
    margin-left: -15px;
}

/* Login */

.facebook-login{
    margin-bottom: 25px;

}

.facebook-login a{
    text-decoration: none;
    color: var(--senha);
    display: flex;
    align-items: center;
    justify-content: center ;
}

.facebook-login img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.facebook-login span{
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}

/* Esqueci senha */

.forgot-pass{
    margin-bottom: 20px;
    font-size: 12px;
}

.forgot-pass a{
    text-decoration: none;
    color: var(--senha);
}
/* Registrar */

.register-container{
    background-color: var(--bg);
    border: 1px solid var(--borda);
    margin-top: 10px; 
    width: 350px;
    padding: 25px;
}

.register-container p{
    font-size: 14px;
    color: var(--texto);
}

.register-container a{
    color: var(--acao);
    font-weight: bolder;
    text-decoration: none;
}

/* obtenha o app */

  .get-app-container{
    text-align: center;
    width: 350px;
}

.get-app-container p{
    margin: 20px 0;
    font-size: 13px;
    color: var(--texto)
}

.get-app-container a {
    text-decoration: none;
}

.get-app-container img{
    width: 136px;
    height: 40px;
}

/* rodapé */

footer{
   text-align: left;
   width: 1000px;
   margin: 50px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

footer #footer-links{
    display: flex;
    list-style: none;
}

#footer-links li{
    margin-right: 10px;
}

#footer-links a, #copy-right{
    text-decoration: none;
    color: var(--footertxt);
    font-size: 12px;
}

#copy-right{
    margin-top: 10px;
}

/* mobile */

@media (max-width: 450px){
    body{
        background-color: #fff;               
    }
    
    #banner-container{
        display: none;
    }

    #main-container, .form-box{
         margin-top: 0;
    }
    
    .form-container, .form-box, .register-container, .get-app-container{
        width: 100%;
        border: none;
    }
    footer{
        width: 90%;
    }

    #footer-links{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }


}